NODE_ENV=
DEBUG_LOGS=
CORS_ORIGINS=
APP_PORT=
APP_NAME=
APP_LOGS=
JWT_SECRET=
JWT_EXPIRES=
DB_NAME=
DB_USER=
DB_PASS=
DB_HOST=
DB_PORT=
DB_DIALECT=
LEVERAGE_TOKENS=
DEFAULT_FIAT=
IGNORED_FIAT=
EXCHANGE_LOGS="none | minimal | verbose"
EXCHANGE_API_KEY=
EXCHANGE_API_SECRET=
